* body{
                   
                    margin: 0;
                    padding:0;
                    background-image: linear-gradient(to right, gold ,orange, goldenrod);
                    display: flex;
                    flex-direction: column;
}
.nav-bar{
                    margin: 0;
                    padding: 0;
                    background-color: black;
                    display: flex;
                    flex-direction: row;
                   
                   
}
.logo{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    font-size: 1.5em;
}
.nav-bar h3{
                    display: flex;
                    font-family: 'Kaushan Script', cursive;
                    letter-spacing: 5px;
                    word-spacing: -6px;
                    color: white;
                    

}
.nav-bar .red-text{
                    color: red;
}
.nav-bar nav{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 10px 200px;
                    padding: 5px;
                    

}
.nav-bar a{
                    
                    margin:0px 15px;
                    margin-left:80px;
                    padding: 5px 20px;
                    list-style: none;
                    text-decoration: none;
                    color: white;
                    font-size:1em;
                    letter-spacing: 2px;

}
.nav-bar a:hover{{
                    background-color: red;
}